.container-card{
    font-family: 'Poppins';
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
    padding: 30px 20px;
}

.card{
    height: auto;
    margin: 0 auto;
    padding: 5px;
    width: 300px;
}

#card-claro{
    border: 5px solid #edecec;
}

.card:hover{
    background-color: #feb633;
    cursor: pointer;
}

#card-claro h3 {
    color: #32333c;
}

#card-claro p, #card-claro span{
    color: #8a8fa3;
}

#card-escuro{
    border: 5px solid #ffffff0d;
}

#card-escuro h3 {
    color: #ffffff;
}

#card-escuro p, #card-escuro span{
    color: #9f9f9f;
}



@media screen and (max-width:350px) {
    .card{
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .card{
        width: 100%;
    }
}