.container-rodape {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
    gap: 20px;
    font-family: 'Poppins';
}

.container-rodape p{
    text-align: center;
    width: 50%;
}

#container-rodape-claro{
    background-color: #fff;
    color: #fff;
}

#container-rodape-claro p{
    color: #8a8fa3;
}

.icones{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.icones img{
    width: auto;
    height: 45px;
}

.container-rodape span{
    color: #feb633;
}

#container-rodape-escuro{
    background-color: #252525;
}

#autor-escuro{
    border: 5px solid #ffffff0d;
}

@media screen and (max-width: 350px) {
    .container-rodape {
        padding: 50px 20px;
    }
    
    .container-rodape p{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:768px) {
    .container-rodape {
        padding: 50px 20px;
    }
    
    .container-rodape p{
        width: 100%;
        text-align: center;
    }
}
