.topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 10px 30px;
    
}
#topo-claro{
    background-color: #fff;
}

#topo-escuro{
    background-color: #252525;
}

.logo{
    width: auto;
    height: 30px;
}

.botao{
    border-radius: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

#botao-escuro{
    background-color: #252525;
    border-color: #fff;
}

#botao-claro{
    background-color: #fff;
    border-color:#747272 ;
}

.botao img{
    width: auto;
    height: 20px;
}