.texto-experiencias{
    background-color: #f6f8fc;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 150px;
}

.texto-experiencias h2{
    color: #32333c;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.texto-experiencias h2::before{
    position: absolute;
    content: "";
    bottom: -140px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    height: 4px;
    background-color: #feb633;
}

.texto-experiencias p {
    color: #8a8fa3;
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width:350px) {
    .texto-experiencias{
        padding: 20px 20px;
    }
}

