.banner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0 0 0;
}

.img-banner{
    background-image: url('../../../img/banner.png');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 50%;
    height: 100vh;
}

#img-banner-escuro{
    background-color: #252525;
}

#img-banner-claro{
    background-color: #fff;
}

.texto-banner{
    display: flex;
    flex-direction: column;
    align-items:last baseline;
    float: left;
    background-color: #fafbfc;
    color: #022144;
    padding: 10px;
    font-family: 'Poppins';
    text-align: left;
    margin: 0 auto;
}

.texto-banner p{
    font-size: 18px;
    font-weight: 500;
}

.texto-banner h1{
    font-size: 35px;
    font-weight: 500;
}

.texto-banner strong{
    font-weight: 800;
}

@media screen and (max-width:350px) {
    .img-banner{
        width: 0;
    }

    .texto-banner{
        width: 80%;
    }
}

@media screen and (max-width:768px) {
    .img-banner{
        width: 0;
    }

    .texto-banner{
        width: 80%;
    }
}